#blogger {
	padding:20px;

}

.blogger-item {
	width:100%;
	margin:0 auto;
	box-shadow: 5px 5px 15px #bbb;
	margin-bottom:20px;
}

.blogger-image:hover {
	opacity:.6;


}

.blogger-item img {
	width:100%

}

.image-sizer {
	
}

.blogger-item .image-sizer img {
	
	
}

.blogger-category {
	text-align:center;

}

body .int-wrap p.blogger-category {
	margin-bottom:5px

}

body .int-wrap #blogger h3 {
	font-weight:bold;

}

.blogger-text {
	padding:20px;
	height:200px;
	background-color:#ffffff;
}

.blogger-author {
	position: absolute;
    bottom: 20px;
	color:#9B8F86;

}

@media screen and (min-width: 992px) and (max-width: 1100px) {

	.blogger-category, .blogger-author {
		display:none;

	}


}
